In [23]:
import pandas as pd
import numpy as np

In [24]:
school_data = pd.read_csv('Resources/schools_complete.csv')
student_data = pd.read_csv('Resources/students_complete.csv')

In [25]:
df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
df.head(5)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [26]:
total_schools = len(df["School ID"].unique())
total_students = len(df["Student ID"].unique())
total_budget = '${:,.2f}'.format(school_data["budget"].sum())
average_math_score = df["math_score"].mean()
average_reading_score = df["reading_score"].mean()
percent_passing_math = (len(df.loc[df["math_score"] >= 70]["Student ID"].unique())/total_students)*100
percent_passing_reading = (len(df.loc[df["reading_score"] >= 70]["Student ID"].unique())/total_students)*100
passing_overall = (average_math_score+average_reading_score)/2

In [27]:
district_summary = pd.DataFrame({"Total Schools": total_schools,
                              "Total Students": total_students,
                              "Total Budget": total_budget,
                              "Average Math Score": average_math_score,
                              "Average Reading Score": average_reading_score,
                              "% Passing Math": percent_passing_math,
                              "% Passing Reading": percent_passing_reading,
                              "% Overall Passing Rate": passing_overall
                              },index=["District Summary"])
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
District Summary,15,39170,"$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.431606

In [28]:
school_type_groupby_school = df.groupby(['school_name'])["type"].unique()
total_students_groupby_school = df.groupby(['school_name'])["Student ID"].count()
total_budget_groupby_school = df.groupby(['school_name'])["budget"].unique()
budget_per_student = total_budget_groupby_school/total_students_groupby_school
average_math_score_groupby_school = df.groupby(['school_name'])["math_score"].mean()
average_reading_score_groupby_school = df.groupby(['school_name'])["reading_score"].mean()
percent_passing_math_groupby_school = df[df["math_score"] >= 70].groupby(['school_name'])["math_score"].count()/total_students_groupby_school*100
percent_passing_reading_groupby_school = df[df["reading_score"] >= 70].groupby(['school_name'])["reading_score"].count()/total_students_groupby_school*100
passing_overall_groupby_school = (percent_passing_math_groupby_school+percent_passing_reading_groupby_school)/2

In [29]:
school_summary = pd.DataFrame({"School Type": school_type_groupby_school,
                              "Total Students": total_students_groupby_school,
                              "Total Budget": total_budget_groupby_school,
                              "Budget Per Student": budget_per_student,
                              "Average Math Score": average_math_score_groupby_school,
                              "Average Reading Score": average_reading_score_groupby_school,
                              "% Passing Math": percent_passing_math_groupby_school,
                              "% Passing Reading": percent_passing_reading_groupby_school,
                              "% Overall Passing Rate": passing_overall_groupby_school
                              })
school_summary = school_summary.sort_values("% Overall Passing Rate", ascending=False)
school_summary.head(5)

,School Type,Total Students,Total Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,[Charter],1858,[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,[Charter],1635,[1043130],[638.0],83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,[Charter],962,[585858],[609.0],83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,[Charter],1468,[917500],[625.0],83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,[Charter],2283,[1319574],[578.0],83.274201,83.989488,93.867718,96.539641,95.203679

In [30]:
school_summary = school_summary.sort_values("% Overall Passing Rate", ascending=True)
school_summary.head(5)

,School Type,Total Students,Total Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,[District],3999,[2547363],[637.0],76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,[District],2949,[1884411],[639.0],76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,[District],2917,[1910635],[655.0],76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,[District],4761,[3094650],[650.0],77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,[District],2739,[1763916],[644.0],77.102592,80.746258,68.309602,79.299014,73.804308

In [31]:
ninth_math_score= df[df["grade"] == "9th"].groupby(['school_name'])["math_score"].mean()
tenth_math_score= df[df["grade"] == "10th"].groupby(['school_name'])["math_score"].mean()
eleventh_math_score= df[df["grade"] == "11th"].groupby(['school_name'])["math_score"].mean()
twelveth_math_score= df[df["grade"] == "12th"].groupby(['school_name'])["math_score"].mean()

In [32]:
math_score_summary = pd.DataFrame({"9th": ninth_math_score,
                              "10th": tenth_math_score,
                              "11th": eleventh_math_score,
                              "12th": twelveth_math_score,
                              })
math_score_summary

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [33]:
ninth_reading_score= df[df["grade"] == "9th"].groupby(['school_name'])["reading_score"].mean()
tenth_reading_score= df[df["grade"] == "10th"].groupby(['school_name'])["reading_score"].mean()
eleventh_reading_score= df[df["grade"] == "11th"].groupby(['school_name'])["reading_score"].mean()
twelveth_reading_score= df[df["grade"] == "12th"].groupby(['school_name'])["reading_score"].mean()

In [34]:
reading_score_summary = pd.DataFrame({"9th": ninth_reading_score,
                              "10th": tenth_reading_score,
                              "11th": eleventh_reading_score,
                              "12th": twelveth_reading_score,
                              })
reading_score_summary

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [35]:
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [36]:
df["budget_per_student"] = df["budget"]/df["size"]
df["spending_ranges"] = pd.cut(df["budget_per_student"], bins=spending_bins, labels=group_names)
df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,budget_per_student,spending_ranges
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,655.0,$645-675
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,655.0,$645-675
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,655.0,$645-675
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,655.0,$645-675
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,655.0,$645-675
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635,655.0,$645-675
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635,655.0,$645-675
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635,655.0,$645-675
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635,655.0,$645-675
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635,655.0,$645-675
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635,655.0,$645-675
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635,655.0,$645-675
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635,655.0,$645-675
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635,655.0,$645-675
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635,655.0,$645-675
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635,655.0,$645-675
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635,655.0,$645-675
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635,655.0,$645-675
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635,655.0,$645-675
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635,655.0,$645-675
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635,655.0,$645-675
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635,655.0,$645-675
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635,655.0,$645-675
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635,655.0,$645-675
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635,655.0,$645-675
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635,655.0,$645-675
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635,655.0,$645-675
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635,655.0,$645-675
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635,655.0,$645-675
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635,655.0,$645-675
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130,638.0,$615-645
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130,638.0,$615-645
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130,638.0,$615-645
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130,638.0,$615-645
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130,638.0,$615-645
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130,638.0,$615-645
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,1635,1043130,638.0,$615-645
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130,638.0,$615-645
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130,638.0,$615-645
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130,638.0,$615-645
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130,638.0,$615-645
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130,638.0,$615-645
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130,638.0,$615-645
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130,638.0,$615-645
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130,638.0,$615-645
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130,638.0,$615-645
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130,638.0,$615-645
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130,638.0,$615-645
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130,638.0,$615-645
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130,638.0,$615-645
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130,638.0,$615-645
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130,638.0,$615-645
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130,638.0,$615-645
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130,638.0,$615-645
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130,638.0,$615-645
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,638.0,$615-645
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,638.0,$615-645
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,638.0,$615-645
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,638.0,$615-645
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,638.0,$615-645

In [37]:
total_students_groupby_spending_ranges = df.groupby(['spending_ranges'])["Student ID"].count()
average_math_score_groupby_spending_ranges = df.groupby(['spending_ranges'])["math_score"].mean()
average_reading_score_groupby_spending_ranges = df.groupby(['spending_ranges'])["reading_score"].mean()
percent_passing_math_groupby_spending_ranges = df[df["math_score"] >= 70].groupby(['spending_ranges'])["math_score"].count()/total_students_groupby_spending_ranges*100
percent_passing_reading_groupby_spending_ranges = df[df["reading_score"] >= 70].groupby(['spending_ranges'])["reading_score"].count()/total_students_groupby_spending_ranges*100
passing_overall_groupby_spending_ranges = (percent_passing_math_groupby_spending_ranges+percent_passing_reading_groupby_spending_ranges)/2

In [38]:
spending_ranges_summary = pd.DataFrame({
                              "Average Math Score": average_math_score_groupby_spending_ranges,
                              "Average Reading Score": average_reading_score_groupby_spending_ranges,
                              "% Passing Math": percent_passing_math_groupby_spending_ranges,
                              "% Passing Reading": percent_passing_reading_groupby_spending_ranges,
                              "% Overall Passing Rate": passing_overall_groupby_spending_ranges
                              })
spending_ranges_summary.head(5)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
spending_ranges,,,,,
<$585,83.363065,83.964039,93.702889,96.686558,95.194724
$585-615,83.529196,83.838414,94.124128,95.886889,95.005509
$615-645,78.061635,81.434088,71.400428,83.614770,77.507599
$645-675,77.049297,81.005604,66.230813,81.109397,73.670105

In [39]:
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [40]:
df["school_size"] = pd.cut(df["size"], bins=size_bins, labels=group_names)
df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,budget_per_student,spending_ranges,school_size
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130,638.0,$615-645,Medium (1000-2000)
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130,638.0,$615-645,Medium (1000-2000)
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130,638.0,$615-645,Medium (1000-2000)
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130,638.0,$615-645,Medium (1000-2000)
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130,638.0,$615-645,Medium (1000-2000)
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130,638.0,$615-645,Medium (1000-2000)
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,1635,1043130,638.0,$615-645,Medium (1000-2000)
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130,638.0,$615-645,Medium (1000-2000)
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130,638.0,$615-645,Medium (1000-2000)
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130,638.0,$615-645,Medium (1000-2000)
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130,638.0,$615-645,Medium (1000-2000)
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130,638.0,$615-645,Medium (1000-2000)
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130,638.0,$615-645,Medium (1000-2000)
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130,638.0,$615-645,Medium (1000-2000)
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130,638.0,$615-645,Medium (1000-2000)
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130,638.0,$615-645,Medium (1000-2000)
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130,638.0,$615-645,Medium (1000-2000)
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130,638.0,$615-645,Medium (1000-2000)
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130,638.0,$615-645,Medium (1000-2000)
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130,638.0,$615-645,Medium (1000-2000)
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130,638.0,$615-645,Medium (1000-2000)
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130,638.0,$615-645,Medium (1000-2000)
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130,638.0,$615-645,Medium (1000-2000)
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130,638.0,$615-645,Medium (1000-2000)
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130,638.0,$615-645,Medium (1000-2000)
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,638.0,$615-645,Medium (1000-2000)
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,638.0,$615-645,Medium (1000-2000)
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,638.0,$615-645,Medium (1000-2000)
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,638.0,$615-645,Medium (1000-2000)
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,638.0,$615-645,Medium (1000-2000)

In [41]:
total_students_groupby_school_size = df.groupby(['school_size'])["Student ID"].count()
average_math_score_groupby_school_size = df.groupby(['school_size'])["math_score"].mean()
average_reading_score_groupby_school_size = df.groupby(['school_size'])["reading_score"].mean()
percent_passing_math_groupby_school_size = df[df["math_score"] >= 70].groupby(['school_size'])["math_score"].count()/total_students_groupby_school_size*100
percent_passing_reading_groupby_school_size = df[df["reading_score"] >= 70].groupby(['school_size'])["reading_score"].count()/total_students_groupby_school_size*100
passing_overall_groupby_school_size = (percent_passing_math_groupby_school_size+percent_passing_reading_groupby_school_size)/2

In [42]:
school_size_summary = pd.DataFrame({
                              "Average Math Score": average_math_score_groupby_school_size,
                              "Average Reading Score": average_reading_score_groupby_school_size,
                              "% Passing Math": percent_passing_math_groupby_school_size,
                              "% Passing Reading": percent_passing_reading_groupby_school_size,
                              "% Overall Passing Rate": passing_overall_groupby_school_size
                              })
school_size_summary.head(5)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_size,,,,,
Small (<1000),83.828654,83.974082,93.952484,96.040317,94.996400
Medium (1000-2000),83.372682,83.867989,93.616522,96.773058,95.194790
Large (2000-5000),77.477597,81.198674,68.652380,82.125158,75.388769

In [43]:
total_students_groupby_type = df.groupby(['type'])["Student ID"].count()
average_math_score_groupby_type = df.groupby(['type'])["math_score"].mean()
average_reading_score_groupby_type = df.groupby(['type'])["reading_score"].mean()
percent_passing_math_groupby_type = df[df["math_score"] >= 70].groupby(['type'])["math_score"].count()/total_students_groupby_type*100
percent_passing_reading_groupby_type = df[df["reading_score"] >= 70].groupby(['type'])["reading_score"].count()/total_students_groupby_type*100
passing_overall_groupby_type = (percent_passing_math_groupby_type+percent_passing_reading_groupby_type)/2

In [44]:
type_summary = pd.DataFrame({
                              "Average Math Score": average_math_score_groupby_type,
                              "Average Reading Score": average_reading_score_groupby_type,
                              "% Passing Math": percent_passing_math_groupby_type,
                              "% Passing Reading": percent_passing_reading_groupby_type,
                              "% Overall Passing Rate": passing_overall_groupby_type
                              })
type_summary.head(5)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
type,,,,,
Charter,83.406183,83.902821,93.701821,96.645891,95.173856
District,76.987026,80.962485,66.518387,80.905249,73.711818